
#time{
    height: 20px;
   background: #5B544A;
    color: white;
    text-align: center;
}
#title{
    margin-top: 20px;
}
#title input{
    height: 25px;
    background: #e9e9e9;;
}
#myNav{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 0px;
}
#loop{
    margin-top: 30px;
}
.carousel-indicators li{
    border-radius: 0px;
}
#content ol{
    margin-top: 30px;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.list-group li a{
    text-decoration: none;
    color: black;
}
.list-group li:hover{
    background: gainsboro;
}
.area{
    display: none;
    font-size: 14px;
}
.thumbnail{
    border: 0px;
    text-align: center;
}
#picture{
    margin-top: -40px;
}
#picture img{
    width: 136px;
    height: 160px;
}
.page-header{
    border-bottom: 2px solid #dbdbdb;
    font-size: 16px;
    font-weight: 600;
}
.nav-pills li a:visited{  color: black;}
.nav-pills li a:hover{background: white;color: #7d4c3e;}
.area a:visited{color: #999999;}
.area a:hover{color: #000066;}
