#box {
	height: 100px;
	width: 100%;
}
#top {
	background-image: url(../images/501.jpg);
	background-repeat: no-repeat;
	height: 218px;
	width: 1003px;
}
#menu {
	background-image: url(../images/502.gif);
	background-repeat: repeat-y;
	text-align: center;
	width: 1003px;
	color: #4B3C01;
	height: 37px;
}
#content {
	width: 1003px;
	height: 600px;
	}
#leftbg {
	background-image: url(../images/503.gif);
	background-repeat: no-repeat;
	float: left;
	height: 600px;
	width: 9px;
}
#left {
	width: 219px;
	height: 723px;
	float: left;
	background-image: url(../images/504.gif);
	background-repeat: repeat-x;
	text-align: center;
	top: -123px;
	position: relative;
}
#pop {
	background-image: url(../images/505.gif);
	background-repeat: no-repeat;
	height: 178px;
	width: 219px;
}
#login {
	line-height: 30px;
	color: #2A558A;
	background-image: url(../images/506.gif);
	background-repeat: no-repeat;
	height: 123px;
	width: 208px;
	padding-top: 60px;
}
#notice {
	background-color: #FFFFFF;
	height: 143px;
	width: 208px;
	text-align: left;
}
#event {
	background-color: #FFFFFF;
	height: 125px;
	width: 208px;
}
#leftbg2 {
	background-image: url(../images/507.gif);
	background-repeat: no-repeat;
	float: left;
	height: 600px;
	width: 11px;
}
#main {
	float: left;
	height: 598px;
	width: 585px;
	margin-top: 2px;
}
#list1 {
	background-image: url(../images/508.gif);
	background-repeat: no-repeat;
	float: left;
	height: 238px;
	width: 201px;
}
#list2 {
	background-image: url(../images/509.gif);
	background-repeat: repeat-x;
	float: left;
	height: 238px;
	width: 129px;
}
#list3 {
	background-image: url(../images/510.gif);
	background-repeat: repeat-x;
	float: left;
	height: 238px;
	width: 131px;
}
#list4 {
	background-image: url(../images/509.gif);
	background-repeat: repeat-x;
	float: left;
	height: 238px;
	width: 124px;
}
#shop {
	text-align: center;
	float: left;
	height: 190px;
	width: 298px;
	margin-left: 10px;
	margin-top: 17px;
}
#game {
	float: left;
	height: 190px;
	width: 260px;
	margin-top: 17px;
	margin-left: 17px;
}
#best {
	height: 153px;
	width: 298px;
	margin-left: 10px;
	float: left;
}

#help {
	float: left;
	height: 153px;
	width: 260px;
	margin-left: 17px;
}
#link {
	background-image: url(../images/511.gif);
	background-repeat: repeat-x;
	height: 38px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 855px;
	text-align: center;
}
#bottom {
	text-align: center;
	position: absolute;
	height: 60px;
	width: 100%;
	left: 0px;
	top: 893px;
}
#bottom_logo {
	text-align: right;
	float: left;
	height: 50px;
	width: 230px;
	margin-top: 5px;
}
#bottom_adress {
	text-align: left;
	float: left;
	height: 50px;
	width: 400px;
	margin-top: 7px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	line-height: 16px;
}
#logo {
	background-image: url(../images/512.gif);
	background-repeat: no-repeat;
	float: left;
	height: 67px;
	width: 119px;
	margin-top: 10px;
	margin-left: 50px;
}
#top_menu {
	float: left;
	height: 51px;
	width: 295px;
	margin-left: 50px;
}
#menu img {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 13px;
}
#f_login_name,#f_login_pass {
	width: 70px;
	border: 1px solid #527690;
	font-family: "ו";
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
}
#f_login_box {
	margin-top: 5px;
}
#form1 {
	text-align: left;
	margin-left: 12px;
}
#button {
	height: 40px;
	width: 57px;
	margin-left: 130px;
	position: absolute;
	margin-top: 5px;
}
#login img {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}
#notice li {
	line-height: 20px;
	background-image: url(../images/522.gif);
	background-repeat: no-repeat;
	background-position: 16px;
	text-indent: 24px;
	list-style-type: none;
}
#list1 li {
	line-height: 22px;
	background-image: url(../images/534.gif);
	background-repeat: no-repeat;
	background-position: 12px;
	text-indent: 18px;
	list-style-type: none;
	color: #333333;
}
#list2 li {
	line-height: 22px;
	background-image: url(../images/534.gif);
	background-repeat: no-repeat;
	background-position: 12px;
	text-indent: 18px;
	list-style-type: none;
	color: #333333;
}
#pic1 {
	margin-left: 16px;
}
#list3 li {
	line-height: 22px;
	background-image: url(../images/534.gif);
	background-repeat: no-repeat;
	background-position: 12px;
	text-indent: 18px;
	list-style-type: none;
	color: #333333;
}
#pic2 {
	margin-left: 9px;
}
#list4 li {
	line-height: 22px;
	background-image: url(../images/534.gif);
	background-repeat: no-repeat;
	background-position: 12px;
	text-indent: 18px;
	list-style-type: none;
	color: #333333;
}
#pic3 {
	margin-left: 10px;
}
#shop_title {
	text-align: left;
	height: 19px;
	width: 298px;
	padding-top: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5E0E6;
}
#more {
	margin-right: 5px;
	margin-left: 140px;
}
#shop1 {
	line-height: 20px;
	float: left;
	height: 157px;
	width: 96px;
	margin-top: 10px;
}
#shop1 img {
	padding: 1px;
	border: 2px solid #E7E7E7;
}
#shop2 {
	line-height: 20px;
	float: left;
	height: 157px;
	width: 96px;
	margin-top: 10px;
}
#shop2 img {
	padding: 1px;
	border: 2px solid #E7E7E7;
}
#shop3 {
	line-height: 20px;
	float: left;
	height: 157px;
	width: 96px;
	margin-top: 10px;
}
#shop3 img {
	padding: 1px;
	border: 2px solid #E7E7E7;
}
#game_title {
	height: 19px;
	width: 260px;
	padding-top: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5E0E6;
}
#more2 {
	margin-right: 5px;
	margin-left: 110px;
}
#game1 {
	height: 65px;
	width: 260px;
	margin-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
#game1 img {
	margin-right: 6px;
	float: left;
}
#game2 {
	height: 60px;
	width: 260px;
	margin-top: 10px;
}
#game2 img {
	margin-right: 6px;
	float: left;
}
#best_title {
	text-align: left;
	height: 19px;
	width: 298px;
	padding-top: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5E0E6;
}
#more3 {
	margin-right: 5px;
	margin-left: 130px;
}
#best1 {
	float: left;
	height: 100px;
	width: 205px;
	margin-top: 10px;
	line-height: 20px;
}
#best1 img {
	float: left;
	margin-right: 5px;
	margin-top: 4px;
}
#best2 {
	float: right;
	height: 100px;
	width: 93px;
	margin-top: 10px;
}
#help_title {
	height: 19px;
	width: 260px;
	padding-top: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5E0E6;
}
#more4 {
	margin-right: 5px;
	margin-left: 90px;
}
#help_pic {
	height: 88px;
	width: 260px;
	margin-top: 15px;
}
#bottom_link {
	line-height: 38px;
	float: left;
	height: 38px;
	width: 488px;
	margin-left: 112px;
}

#family_link {
	float: left;
	height: 38px;
	width: 110px;
	margin-left: 70px;
}
#link_family {
	font-size: 12px;
	color: #333333;
	margin-top: 9px;
	border: 1px solid #7F9DB9;
	width: 100px;
}
#bottom_logo img {
	margin-right: 20px;
}
