/*顶部时间显示*/
#time{
    text-align: center;
    color: white;
    background: #5B544A;
}
/*搜索框一行*/
#title{
    margin-top: 20px;
}
.input-group input{
    height: 25px;
}
/*导航条*/
#myNav{
    margin-top: 25px;
    font-size: 15px;
    font-weight: 600;
}
.area{
    display: none;
}
/*轮播器*/
#myCarousel{
    margin-top: 30px;
}
.carousel-indicators li{
    border-radius: 2px;
    /*background: cadetblue;*/
}
.carousel-indicators li.active{
    background-color: #666666;
}
.item img{
    height: 500px;
}
/*内容区域的设置*/
#content{
    margin-top: 20px;
}
/*引用*/
blockquote{
    border-left: 5px solid #999999;
    height: 20px;
    padding: 0px 10px;
}
/*教课资讯*/
.firstHead{
    border-bottom: 1px solid #999999;
    padding-bottom: 0px;
    height: 30px;
}
/*教课资讯，学院公告的字体设置*/
#list01,#list03{
    list-style: square;
    padding-left: 20px;
    font-size: 12px;
    padding-top: 0px;
    line-height: 25px;
}
/*学院公告*/
.secondHead{
    border-bottom: 1px solid #999999;
    padding-bottom: 0px;
    height: 30px;
}
#list02{
    list-style: square;
    padding-left:10px;
    font-size: 12px;
    padding-top: 0px;
    line-height: 25px;
}
.thirdHead ,.sixHead{
    border-bottom: 1px solid #999999;
    padding-bottom: 0px;
    height: 30px;
}
.image{
    padding-top: 10px;
}
.fourHead,.fiveHead,.sevenHead,.eightHead,.nineHead{
    border-bottom: 1px solid #999999;
    padding-bottom: 0px;
    height: 30px;
}
#content li a{
    color: black;
    text-decoration: none;
}
#content li a:hover{
    color: #7a4a3c;
}
#myCarousel01 .carousel-indicators li{
    width: 19px;
    height: 19px;
    color: #FFFFFF;
    text-indent: 0px;
}
#myCarousel01 .carousel-indicators li.active{
    background: silver;
}
#myCarousel01 .carousel-inner img{
    width: 300px;
    height: 200px;
}
.slider{
    margin: -15px -22px;
    padding: 0px;
    border: 0px;
}
.slider a{
    text-decoration: none;
}
.slider ul{
    list-style: outside none none;
}
.slider,.slider img {
    width: 200px;
    height: 200px;
}
.slider{
    text-align: center;
    /*margin: 30px auto;*/
    position: relative;

}
.slider_panel,.slider_pre,.slider_next{
    position: absolute;
    z-index: 8;
}
.slider_panel{
    position: absolute;
}
.slider_extra{
    position: relative;
}
.myList ul{
    width: 120px;
    padding-top: 10px;
    font-size: 12px;
    line-height: 25px;
}
.myList01 li{
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}
.table-striped{
    background: #eeeeee;
    font-size: 11px;
}
#pageContent{
    height: 190px;
    overflow: scroll;
}
.displayed{
    display: none;
}
.active{
    display: block;
}
#list04{
    margin-left: -40px;
}
.list05{
    width: 100px;
}
.myRadio .thumbnail{
    padding: 0px;
    border: 5px solid #CCCCCC;
    border-radius: 0px;
}
/*名家名作无缝滚动*/
#mingJiaMingZuo{
    height: 120px;
    position: relative;
    left:0px;
    top:0px;
    overflow: hidden;
}
#mingJiaMingZuo ul{
    position: absolute;
    list-style: none;
}
#mingJiaMingZuo  li{
    float: left;
    margin-left: 10px;
}
#mingJiaMingZuo img{
    width: 100px;
    height: 120px;
}
#conductor{
    height: 120px;
    position: relative;
    left:0px;
    top:0px;
    overflow: hidden;
}
#conductor ul{
    list-style: none;
    position: absolute;
}
#conductor  li{
    float: left;
    margin-left: 10px;
}
#conductor  img{
    width: 100px;
    height: 120px;
}
.block05 .row{
    margin-left: 0px;
    margin-right: 0px;
}
.block04 .row{
    margin-left: 0px;
    margin-right: 0px;
}
/*下面图标设置*/
.image00{
    margin-top: 20px;
    float: left;
    padding-left: 30px;
}
.image00 img{
    margin-left: 50px;
}
.thumbnail a img{
    height: 200px;
    width: 100%;
}
/*传统为今*/
.kouhao{
    margin-top: 20px;
}
/*精品力作*/
.jingpin a img{
padding-left: 50px;
}
/*视频点播*/
.thumbnail .img01{
    opacity: 1.0;
    width: 100%;
    height:30px;
}
footer{
    margin-top: 50px;
}
.nav-pills li a:visited{color:black;}
.nav-pills li a:hover{color: #7d4c3e;}
.area a:visited{ color:#999999;}
.area a:hover{color:#000066;}