* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	font-family: "ו";
	font-size: 12px;
	color: #879CB1;
	background-image: url(../images/801.jpg);
	background-repeat: repeat-x;
	text-align: center;
}
.font01 {
	line-height: 28px;
}
