* {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
body {
	font-family: "ו";
	font-size: 12px;
	color: #575757;
	text-align: center;
}
.font01 {
	font-family: "ו";
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
}